<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" IgnorableNamespaces="uap rescap desktop">
  <!-- xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"-->
  <Identity Name="30071EnginKrmac.SnapIt" Publisher="CN=5CFA03AE-FF07-4595-B025-C45A2265838F" Version="5.0.3.0" />
  <Properties>
    <DisplayName>SnapIt</DisplayName>
    <PublisherDisplayName>Engin Kırmacı</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="SnapIt\SnapIt.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="SnapIt" Description="SnapIt is a window manager for Windows. Organizes your windows to improve your productivity when working with wide and multiple screens." BackgroundColor="transparent" Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="SnapIt">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.startupTask" Executable="SnapIt\SnapIt.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="SnapItStartupTask" Enabled="true" DisplayName="SnapIt" />
        </desktop:Extension>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="SnapIt\SnapIt.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="SnapIt.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <!--<desktop:Extension Category="windows.fullTrustProcess" Executable="SnapIt\SnapIt.exe" />-->
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>